body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.marg-bot-8 {
    margin-bottom: 8px !important;
}

.marg-top-27 {
    margin-top: 27px !important;
}